* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #084c61;
}
#header-left {
    width: auto;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-center {
    flex-grow: 1;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
}
#header-right {
    width: auto;
    height: auto;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;   
    align-items: center;
    background-color: none;
}

#header-left > img {
    height: 50px;
    margin-left: 10px;
}

#body {
    background-color: #dcdcdd;
    min-height: 85vh;
}

.parent {
    border: 5px solid none;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#body > .parent > a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    
}

#body > .parent > p {
    color: grey;
    font-size: 15px;
}

#footer {
    background-color: #323031;
    color: #ffc857;
    height: auto;
    align-items: center;
    justify-content: center;
}

#footer-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-links > a {
    text-decoration: none;
    color: #db3a34;
    font-size: small;
    margin: 3px;
}

#footer-search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}


/* ************PHONE************ */
@media screen and (max-width: 700px) {
	#header {
        flex-wrap: wrap;
        height: auto;
    }
    #header-left {
		width: 100%;
	}
	#header-center {
		width: 100%;
	}
    #header-right {
		width: 100%;
        display: none;
	}
}