* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    background-color: aqua;
}
#header-left {
    width: auto;
    height: 7vh;
    display: flex;
    align-items: center;
    background-color: chocolate;
}
#header-center {
    flex-grow: 1;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
}
#header-right {
    width: auto;
    height: auto;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;   
    align-items: center;
    background-color: chartreuse;
}

#header-left > img {
    height: 50px;
    margin-left: 10px;
    background-color: chartreuse;
}

#body {
    background-color: blueviolet;
    height: 85vh;
}

.parent {
    border: 5px solid red;
    padding: 5px;
}

#body > .parent > a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#body > .parent > p {
    color: grey;
    font-size: 15px;
}

#footer {
    background-color: cadetblue;
    height: 8vh;
}


/* ************PHONE************ */
@media screen and (max-width: 700px) {
	#header {
        flex-wrap: wrap;
        height: auto;
    }
    #header-left {
		width: 100%;
	}
	#header-center {
		width: 100%;
	}
    #header-right {
		width: 100%;
        display: none;
	}
}